<% content_for :title, "Editing movie" %>

<h1>Editing movie</h1>

<%= render "form", movie: @movie %>

<br>

<div class='btn-div'>
  <%# <%= link_to "Show this movie", movie_path(@movie,sort: params[:sort], direction: params[:direction]) %> 
   <%= form_with url: movie_path(@movie,sort: params[:sort], direction: params[:direction]), method: :get do %>
  <%= hidden_field_tag :sort, params[:sort] %>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= submit_tag 'Show this movie',name: nil, class: 'btn btn-primary' %>
<% end %>
<%= form_with url: movies_path(sort: params[:sort], direction: params[:direction]), method: :get do %>
  <%= hidden_field_tag :sort, params[:sort] %>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= submit_tag "Back to movies",name: nil, class: 'btn btn-primary' %>
<% end %>
</div>
